@model Forms.Models.User
@{
    ViewData["Title"] = "UserLogin";
}


<link href="~/StyleSheet.css" rel="stylesheet" />
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<div class="container login-container">
    <div class="row">
        <div class="col-md-6 login-form-1" style="justify-content:center">
            <h3>Login for Form 1</h3>
            <form method="post">
                <div class="form-group">
                    <input type="text" asp-for="UserEmail" class="form-control" placeholder="Your Email *"  />
                </div>
                <div class="form-group">
                    <input type="password"  asp-for="UserPassword" class="form-control" placeholder="Your Password *" />
                </div>
                <div class="form-group">
                    <input type="submit" class="btnSubmit" value="Login" />
                </div>
                <div class="form-group">
                    <a href="#" class="ForgetPwd">Forget Password?</a>
                </div>
            </form>
        </div>

    </div>
</div>