@model Forms.Models.User

@{
    ViewData["Title"] = "Register";
}

@{ 
    var result = ViewBag.message;
    

}


<h1>Register</h1>
<div class="container">

    
    <p>Please fill in this form to create an account!</p>
    <hr>

    <div class="row">

        <div class="col-md-6 " >
            <form method="post">
                <label asp-for="UserId">User Name</label>
                <input asp-for="UserId" value="" class="form-control" required />
                <label asp-for="UserEmail">User E-mail</label>
                <input asp-for="UserEmail" value="" class="form-control" type="email" />
                <label name="UserPassword">User Password</label>
                <input name="UserPassword" type="password" value="" class="form-control" required />
                <label name="checkPassword">Password Again</label>
                <input name="checkPassword" type="password" value="" class="form-control" required />
                <div class="form-group mt-2">

                    <button type="submit" class="btn btn-danger">Submit</button>
                </div>
                <h5>Already have an account?  <a asp-controller="login" asp-action="userlogin">Click Here !</a>  </h5>
            </form>


            <h5 class="text-primary">@result</h5>
        </div>
        <div class="col-md-6">
            
        </div>
    </div>


</div>
